<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Static-website</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1 class="heading">Our Static Website</h1>
    <h3 class="title">{{title}}</h3>
    <img src="" alt="" />
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo soluta
      quisquam deserunt sint. Aliquam aliquid labore vero aperiam voluptatibus
      ex laboriosam dolor voluptatem autem libero? Nihil provident vero ea
      doloribus. Facilis tenetur, maiores qui similique eos unde illo minima
      vero illum! Quidem blanditiis animi in itaque harum tempore sint tenetur
      commodi quisquam, distinctio dolorem obcaecati cupiditate repudiandae,
      minima, similique suscipit. Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Eos expedita enim, quia tempora iure exercitationem
      rerum omnis cum perspiciatis tempore, voluptatem provident, doloribus
      eligendi commodi dolorum cupiditate incidunt itaque sed.
    </p>
    <script src="../src/index.js"></script>
  </body>
</html>